@charset "utf-8";
/* 清除默认样式的文件 - 基础 */
body{ font-size:12px;}
*{ padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
a{ color:#000; text-decoration:none;}
ul,ol{ list-style:none;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ display:block;}
.clearfix:after{ display:block; content:''; clear:both;} 






