@charset "utf-8";
/* CSS Document */

body a:hover{color:#2bb8aa;}
.wrapper{width:1170px; margin:0 auto; border-top:none;}
.content_one{ height:477px; margin-bottom:30px;}



.one_m{ width:689px; height:477px; border-bottom:1px solid #eee; padding-left:18px; margin-right:18px;}
.one_m_list{width:689px; padding-left:0;}
.one_m_list .i1{ display:inline-block; width:13px; height:16px; background:url(../images/14.jpg) no-repeat; vertical-align:middle; float:left;     margin-right: 5px;}
.one_m_list .i2{ display:inline-block; width:13px; height:16px; background:url(../images/13.jpg) no-repeat; vertical-align:middle;  float:left;     margin-right: 5px;}
.one_m_list .i3{ display:inline-block; width:13px; height:16px; background:url(../images/15.jpg) no-repeat; vertical-align:middle;  float:left;    margin-right: 5px;}
.one_m_list_span{ color:#999; margin-right:21px;  float:left;}
.one_m_list a{ float:none; color:#666; margin-right:24px;}
.one_m_b{width:688px;height:318px; padding-top:10px;  overflow:hidden;}
.one_m_b_list{width:688px; position:absolute; top:10px;left:0;}
.one_m_b_list_li{width:343px; height:308px; border-right:1px solid #eee; }
.one_m_b_list_li>img{width:333px; height:232px; margin-bottom:24px;}
.img_h5{ font-size:14px; color:#3b3838; margin-bottom:10px;}
.img_p{font-size:12px; color:#a79999;}
.one_m_b_list_li_b_l{width:224px; height:43px; border-right:1px dotted #ccc;}
.img_font_red{ font-size:23px; color:#f76120; font-weight:bold; margin-right:16px; line-height:43px}
.one_m_b_list_li_list{padding-left:11px; width:333px; border:none;}
.one_r{width: 197px; height:100%; border:1px solid #eee; border-top:none;}
.one_r_list{width:197px; height:158px; border-bottom:1px solid #eee;}
.one_r_list_h5{ margin-top:59px; text-align:center; font-size:24px; color:#333; font-weight:bold;}
.one_r_list_p{ color:#999; font-size:14px; text-align:center; margin-bottom:12px;}


.content_two{width:1170px; margin-bottom:25px;}

.content_two_t{width:100%;padding-top:15px;padding-bottom:9px;margin-bottom:10px;}

.content_two_t_h3{color:#666;font-size:20px;font-weight:bold; margin-right:8px;}
.content_two_t_h3>b{ display:inline-block;background:url(../images/3.png) no-repeat -1px -321px; width:36px; height:40px; vertical-align:middle;}
.content_two_t_box{width:220px; height:35px; border:1px solid #eee; padding-top:6px; padding-left:5px; }
.content_two_t_box span{ float:left; text-align:center; line-height:35px; color:#fff; background:#333; width:20px; height:28px; margin-right:2px; font-size:20px; border-radius:2px;}
.startTime{ background:url(../images/3.png) no-repeat 0 -376px; width:49px; height:28px; margin-right:11px;}
/*.hours1{ background:url(images/19.jpg) no-repeat; width:20px; height:28px; margin-right:2px;}
.hours2{ background:url(images/19.jpg) no-repeat; width:20px; height:28px;}
.minutes1{ background:url(images/19.jpg) no-repeat; width:20px; height:28px; margin-right:2px;}
.minutes2{ background:url(images/19.jpg) no-repeat; width:20px; height:28px;}
.seconds1{ background:url(images/19.jpg) no-repeat; width:20px; height:28px; margin-right:2px;}
.seconds2{ background:url(images/19.jpg) no-repeat; width:20px; height:28px;}*/
/* 冒号*/
.content_two_t_box .colon{ background:url(../images/20.jpg) no-repeat; width:10px; height:28px;}


.content_two_b_list{ position:absolute; top:0px; left:0px; border-left:1px solid #ccc;}
.content_two_b_list>li{width:203px;height:244px;border:1px solid #ccc;border-left:none;margin-left:-1px;float:left;padding:16px 15px 0;}
.content_two_b_list .lilast{width:207px;}
.content_two_b_top{ position:relative;}
.content_two_b_top_img1{ width:100%;height:124px; margin-bottom:21px;}

.content_two_b_top_i1{  position:absolute; left:0; top:-4px;}
.content_two_b_top_i2{  position:absolute; left:50px; top:-4px;}
.content_two_b_top_em{ position:absolute; top:0px; left:45px;}
.content_two_b_list_middle{width:205px;height:85px;background:#fff;}
.content_two_b_list_middle h3{font-size:12px;font-weight:bold;margin-bottom:15px;}
.content_two_b_list_middle span{font-size:14px;color:#f76120;font-weight:bold;float:left;}

.content_two_b_list_middle i{font-size:12px;color:#999;float:right;}
.content_two_b_list_middle_b{width:100%; border-top:1px dashed #ccc; margin-top:14px; padding-top:11px; }		

.content_three{ margin-bottom:40px;}
.content_three_t{ margin-bottom:13px;}
.content_three_t i{display:inline-block; background:url(../images/24.jpg) no-repeat; width:38px;height:30px; vertical-align:middle; margin-right:9px;}

.content_three_t_list li{float:left; height:15px; padding-top:3px; border-right:1px solid #eee; color:#666; padding:0 10px;}
.content_three_b_list li{width:261px;height:311px;border:1px solid #ccc;margin-left:-1px;float:left;padding-top:16px;}
.content_three_b_t{ width:260px;height:154px;}



.content_three_last{width:100%;height:48px; background:#f6f6f6; text-align:center; line-height:48px; }

.fixed_ul{ position:absolute; top:400px; left:2px;}
.fixed_ul li{ width:41px; height:59px; border:1px solid #ccc; margin-top:-1px; text-align:center; line-height:59px; font-size:14px; background:#eee;}
.fixed_ul li:hover{ background:#2bb8aa; color:#fff;}



#j-headerM-input{ position:relative;}
{ position:absolute; top:0px; left:0;}
 input[type=text]{display:block; position:absolute; left:66px; top:2px; width:357px; height:38px; outline:none; border:none;}




.one_m_b{ position:relative;}
.one_prev1{ background:url(../images/3.png) no-repeat 0px 0px; position:absolute; left:0px; top:35%; width:30px; height:39px;z-index:1; }
.one_next1{ background:url(../images/3.png) no-repeat 0 -41px; position:absolute; right:0; top:35%; width:52px; height:39px;z-index:1; color:#fff;padding-left:8px; line-height:39px;font-size:16px;}




.content_two_b{ position:relative; height:262px; overflow:hidden;}



.fixed_move{ position:fixed; bottom:20px; left:0px; width:100%; height:115px;}
.fixed_move_show{ position:absolute; top:0px; left:0;}
.fixed_move_hide{ position:absolute; left:-4000px; text-align:center; height:180px; width:100%;}
.fixed_move_hide div{ background:#000; opacity:0.5; width:100%; height:180px;}
.fixed_move_hide span{ position:absolute; top:0; width:1000px; left:25%;}
.fixed_close{ position:absolute; right:10px; top:10px; background:url(../images/38.png) no-repeat 0 -202px; width:25px; height:25px; z-index:1;}




.fixed{ position:fixed; right:0px; top:500px;}
.fixed li{ border:1px solid #ccc; margin-top:-1px;}
.fixed_right1{ background:url(../images/up.png) no-repeat 0 0; width:41px; height:41px;}
.fixed_right2{ background:url(../images/up.png) no-repeat 0 -44px; width:41px; height:41px;}
.fixed_right3{ background:url(../images/up.png) no-repeat 0 -88px; width:41px; height:41px;}
.fixed_right4{ background:url(../images/up.png) no-repeat 0 -132px; width:41px; height:41px;}



